<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
        <Property name="basePath">logs</Property>
    </Properties>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
         <RollingFile name="LogToRollingFile" fileName="${basePath}/app.log" filePattern="${basePath}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            	<SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="dev.gaelle_rauffet.test_java_tools" level="info" additivity="true">
            <AppenderRef ref="LogToRollingFile"/>
        </Logger>
        <Root level="WARN">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>